@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  * {
    scroll-behavior: smooth;
  }
  .text-balance {
    text-wrap: balance;
  }

  .bg-grad{
    @apply bg-gradient-to-tr from-black via-gray-950 to-[#053B50]
  }

  .animation-pause {
    animation-play-state: paused;
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
  }
  :root {
    --radius: 0.5rem;
  }
}
